<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.CollectInfoMapper">

    <!-- 获取收藏贴子列表 -->
    <select id="collectInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        ci.id,
        ci.user_id AS userId,
        ci.post_id AS postId,
        ci.create_date AS createDate,
        pi.title,
        pi.content,
        pi.images,
        pi.pageviews,
        tu.USERNAME AS username,
        tu.AVATAR AS avatar
        FROM
        collect_info ci
        LEFT JOIN post_info pi ON ( pi.id = ci.post_id )
        LEFT JOIN t_user tu ON ( tu.USER_ID = ci.user_id )
        WHERE
        ci.delete_flag = 0
        <if test="collectInfo.title != null and collectInfo.title != ''">
            AND pi.title LIKE CONCAT('%',#{collectInfo.title},'%')
        </if>
        <if test="collectInfo.username != null and collectInfo.username != ''">
            AND tu.USERNAME LIKE CONCAT('%',#{collectInfo.username},'%')
        </if>
        <if test="collectInfo.userId != null">
            AND ci.user_id = #{collectInfo.userId}
        </if>
        ORDER BY ci.create_date DESC
    </select>

    <!-- 获取收藏贴子列表 -->
    <select id="collectInfoByUser" resultType="java.util.LinkedHashMap">
        SELECT
        ci.id,
        ci.user_id AS userId,
        ci.post_id AS postId,
        ci.create_date AS createDate,
        pi.title,
        pi.content,
        pi.images,
        pi.pageviews,
        tu.USERNAME AS username,
        tu.AVATAR AS avatar
        FROM
        collect_info ci
        LEFT JOIN post_info pi ON ( pi.id = ci.post_id )
        LEFT JOIN t_user tu ON ( tu.USER_ID = ci.user_id )
        WHERE ci.user_id = #{userId} AND ci.delete_flag = 0
    </select>

    <!-- 获取收藏贴子列表 -->
    <select id="collectInfoByUserAll" resultType="java.util.LinkedHashMap">
        SELECT ci.id,
               ci.user_id     AS userId,
               ci.post_id     AS postId,
               ci.create_date AS createDate,
               pi.title,
               pi.content,
               pi.images,
               pi.pageviews,
               tu.name    AS username,
               tu.avatar      AS avatar
        FROM collect_info ci
                 LEFT JOIN post_info pi ON (pi.id = ci.post_id)
                 LEFT JOIN user_info tu ON (tu.id = ci.user_id)
        WHERE ci.delete_flag = 0
    </select>

    <!-- 根据用户获取收藏列表 -->
    <select id="selectCollectByUser" resultType="java.util.LinkedHashMap">
        SELECT
        collect_info.*,
        user_info.`name`,
        user_info.images,
        post_info.images AS postImages,
        post_info.title,
        post_info.content,
        post_info.tag_ids,
        ui2.`name` AS collectUser,
        ui2.images AS collectImages,
        tag_info.`name` AS tagNames
        FROM
        collect_info
        LEFT JOIN user_info ON ( user_info.id = collect_info.user_id )
        LEFT JOIN post_info ON ( post_info.id = collect_info.post_id )
        LEFT JOIN user_info ui2 ON ( ui2.id = post_info.user_id )
        LEFT JOIN tag_info ON (tag_info.id = post_info.tag_ids)
        WHERE
        1 = 1
        <if test="userId != null">
            AND collect_info.user_id = #{userId}
        </if>
        ORDER BY
        collect_info.create_date DESC
    </select>
</mapper>
